.form{
	    border: 1px solid #ddd;
	    width: 200px;
	    height: 300px;
	    margin: 0 20px 20px 0;
	    transition: box-shadow 0.3s;
    }
.form:hover{
	    box-shadow: 0 0 6px #888;
	    transition: box-shadow 0.3s;
    }
.title{
  		position: relative;
  		border: 2px solid black;
	    width: 500px;
	    height: 80px;
	    left: 40%;
  	}
.holder{
  		display: inline;
  		float: left;
  	}
.row{
  		content: "";
  		display: table;
  		clear: both;
  	}
.grid{
  		float: none;
  		margin: 100px 0 0 50px;
  	}
.col-0-5{
  		float: left;
  		width: 50%;
  	}
.picture{
  		float: left;
  		border: 0px;
  		margin: 20px 20px 40px 40px;
  	}
.abilities{
      content: "";
      clear: both;
      display: table;
  		margin: 20px 8px 0 2px;
  	}
.pokemon-name{
  		text-align: center;
  		font-weight: bold;
  		font-size: 1.375em;
  		font-family: Georgia, serif;
  		text-transform: capitalize;
      color: #1D0772;
  	}
.profile-image{
      max-width: 50%;
      margin: 20px 0 0 80px;
    }
.profile{
      border: 1px solid black;
      width: 300px;
      height: 450px;
      position: fixed;
      float: left;
    }
#character{
      display: none;
    }
.pokemon-name-profile{
  		text-align: center;
      margin: 20px 0 0 0;
      font-size: 1.375em;
      font-weight: bold;
      font-family: Georgia, serif;
  	}
.abilities-profile{
  		border: 1px solid black;
  		width: 280px;
  		height: 30px;
  		margin: 20px 8px 8px 8px;
  	}
article{
  		text-align: center;
  		font-size: 50px;
  		margin: 7px;
  	}
.button{
  		float: left;
  		position: absolute;
  		margin: 0 0 55px 0;
  	}
.load-more{
  		background-color: #008CBA;
  		border-radius: 4px;
  		border: none;
    	color: white;
  		padding: 12px 285px;
    	text-align: center;
     	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
      font-weight: bold;
  	}
footer{
      background-color: black;
      position: relative;
      margin: 90px 0 0 0;
      text-align: center;
      text-decoration: none;
      display: none;
      font-size: 12px;
      font-weight: bold;
      width: auto;
      padding-top: 50px;
      padding-bottom: 10px;
      color: white;
    }
.type{
      display: inline;
      border-radius: 4px;
      text-align: center;
      padding: 4px 20px;
      border: 1px solid grey;
      margin: 8px;
      text-transform: capitalize;
    }
.electric{
      background-color: #F8D030;
    }
.poison{
      background-color: #A040A0;
    }
.grass{
      background-color: #78C850;
    }
.fire{
      background-color: #F08030;
    }
.bug{
      background-color: #A8B820;
    }
.water{
      background-color: #6890F0;
    }
.flying{
      background-color: #A890F0;
    }
